<!--
  Footer Template - Gator Garage Web Application

  This EJS template configures the footer section for all pages within the Gator Garage platform. It includes a copyright notice, a link to the "About us" page, and is styled with Bootstrap for a consistent look across the site.
-->

<div class="container-fluid border-top bg-light mt-4">
  <footer class="w-100 d-flex flex-ws justify-content-center">
    <div class="d-flex text-dark p-3">
      <span class="mb-3 mb-md-0">© GatorGarage Team 6 - All Rights Reserved - </span>
      <a class="ml-2" href="/about" target="_blank">About us</a>
    </div>
  </footer>
</div>

