<footer class="footer mt-auto rounded p-3 m-4 text-black box-shadow">
    <div class="container mt-auto py-5 m-3 d-flex flex-column">
        <div class="row"></div>
    </div>

    <div class="row text-center text-muted small py-1">
        <div class="col">
            &copy; 2024 All Rights Reserved
        </div>
    </div>
</footer>
