<!--
  Navigation Bar Template - Gator Garage Web Application

  This EJS template renders the top navigation bar across the platform, integrating Bootstrap, and linking core functionalities like search, dashboard access, post submission, and user login. Also includes a disclaimer and dynamic search category dropdown.
-->

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<%- include('signupLoginModals') %>

<!-- Header -->
<div class="container-fluid bg-warning text-dark border py-1">
    <div class="row justify-content-center">
        <div class="text-center">
            <p class="mb-0">SFSU Software Engineering Project CSC 648-848, Spring 2024. For Demonstration Only</p>
        </div>
    </div>
</div>


<nav class="navbar navbar-expand-md navbar-light bg-light p-1">
    <div class="container-fluid">

        <!-- Toggler Button for Mobile -->
        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler" aria-expanded="true">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->

        <div id="navbarNav" class="navbar-collapse collapse show" style="margin: auto;">
            <ul style="min-width: 100%;margin: auto;" class="navbar-nav d-flex align-items-baseline justify-content-center">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <img src="/img/logo/logoRe.png" alt="Gator Garage Logo" style="width: 130px;">
                    </a>
                </li>

                <!-- Dashboard -->

                <li class="nav-item" style="min-width: 8%;">
                    <a href="/dashboard" style="" class="nav-link btn btn-info text-white">Dashboard</a>
                </li>

                <!-- Search Bar -->
                <li class="nav-item mx-5 w-80" style="min-width: 30%;">
                    <form id="searchForm" action="/search" method="GET" class="d-flex my-2" style="flex-wrap: nowrap;"> 
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button id="category-btn" class="btn btn-outline-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</button>
                                <div class="dropdown-menu">
                                    <!--TODO manually display categories-->
                                    
                                        <a class="dropdown-item" href="#" data-category="All">
                                            <span>All</span>
                                        </a>
                                    
                                        <a class="dropdown-item" href="#" data-category="Books">
                                            <span>Books</span>
                                        </a>
                                    
                                        <a class="dropdown-item" href="#" data-category="Technology">
                                            <span>Technology</span>
                                        </a>
                                    
                                        <a class="dropdown-item" href="#" data-category="Clothing">
                                            <span>Clothing</span>
                                        </a>
                                    
                                        <a class="dropdown-item" href="#" data-category="School+Supplies">
                                            <span>School Supplies</span>
                                        </a>
                                    
                                        <a class="dropdown-item" href="#" data-category="Furniture">
                                            <span>Furniture</span>
                                        </a>
                                    
                                        <a class="dropdown-item" href="#" data-category="Appliances">
                                            <span>Appliances</span>
                                        </a>
                                    
                                        <a class="dropdown-item" href="#" data-category="Sports+and+Fitness">
                                            <span>Sports and Fitness</span>
                                        </a>
                                        <a class="dropdown-item" href="#" data-category="Miscellaneous">
                                            <span>Miscellaneous</span>
                                        </a>
                                    
                                </div>
                            </div>
                            <input id="searchInput" type="search" name="query" placeholder="Search..." aria-label="Search" class="form-control" maxlength="40">
                            <input type="hidden" name="category" value="">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="fas fa-search"></i> <!-- Font Awesome search icon -->
                            </button>
                        </div>
                    </form>
                    
                </li>
                <!-- Post -->
                <li class="nav-item" style="min-width: 6%;">
                    <a href="/createpost" class="nav-link btn btn-info text-white">Post</a>
                </li>

                <!-- Login -->
                <li class="nav-item mx-5" style="min-width: 5%;">
                    <a class="nav-link btn btn-success" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>